<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header unset ETag
</IfModule>
FileETag None

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 2 months"
</IfModule>

RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{THE_REQUEST} \s/+([^\s]+?)\.php([?\s]|$) [NC]
RewriteRule ^ /%1 [R=301,L]

RewriteRule ^download\.php$ /downloads [L,R=301]
RewriteRule ^download/?$ /downloads [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^wiki(/.*)?$ /wiki/index.php [L]

#remove php file extension-e.g. https://example.com/file.php will become https://example.com/file
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /404.php [L,R=404]
